@import "clarity";

.edit-comment {
  position: relative;
  margin: 0.5rem 0;
  padding: 0.3rem;
  border: 1px solid $light-text-color;
  border-radius: 3px;
  min-height: 100px;
  min-width: 350px;
  resize: vertical;
  outline: none;
  font-size: 1.05rem;
  font-weight: 300;
  button {
    @include button-style;
    margin: 0 0.3rem;
    padding: 0.3rem 1rem;
    font-size: 1.1rem;
  }
}
