@import "clarity";

.app-current-city {
  position: relative;
  min-width: 350px;
  height: 450px;
  .city-container {
    @include position-center(absolute, 50%, 50%);
    .greeting {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 0;
      font-weight: 400;
    }
    i {
      position: relative;
      top: 5px;
      font-size: 4.5rem;
      margin-right: 1.3rem;
      color: $light-text-color;
    }
    .location-name {
      position: relative;
      padding: 0.8rem;
      font-size: 3.5rem;
      font-weight: 400;
      text-align: center;
      background-color: transparent;
    }
  }
}
