@import "clarity";

.news-item-list-container {
  position: relative;
  margin: 2rem auto;
  max-width: 800px;
  min-width: 375px;
  .news-item-card {
    @include outer-container;
    padding: 1rem;
    margin: 0.5rem;

    .upvoter {
      @include span-columns(2);
      position: relative;
      text-align: center;
      margin-right: 1.5rem;
      .upvote-icon {
        position: relative;
        margin: 0 auto;
        height: 100px;
        width: 100px;
        img {
          @include transition(0.3s);
          @include position-center(absolute, 50%, 50%);
          height: 70px;
          &:hover {
            height: 80px;
            cursor: pointer;
          }
        }
      }
    }


    .info {
      @include span-columns(8);
      position: relative;
      .title {
        @include transition(0.3s);
        position: relative;
        font-weight: 300;
        font-size: 1.7rem;
        &:hover {
          cursor: pointer;
          color: $secondary-brand-color;
        }
      }
      .description {
        font-size: 1.1rem;
        margin: 0;
      }
      .additional-info {
        margin-top: 1rem;
        color: $light-text-color;
        font-size: 0.9rem;
        .posted-date {
          @include transition(0.3s);
          position: relative;
          display: inline-block;
          margin-right: 1rem;
        }
        .comment-count {
          position: relative;
          display: inline-block;
          &:hover {
            cursor: pointer;
            color: $secondary-brand-color;
          }
        }
      }
    }
  }
}
