@import "clarity";

.show-news-item {
  position: relative;
  margin: 3rem auto 0 auto;
  padding: 1rem;
  max-width: 900px;
  min-width: 375px;

  .item-container {
    position: relative;
    height: 150px;
    .upvoter { top: 5px; }

    .news-item-info {
      @include span-columns(7);
      position: relative;
      .title {
        position: relative;
        font-weight: 300;
        font-size: 2.5rem;
        margin-bottom: 1.25rem;
      }
      .additional-info {
        position: relative;
        color: $light-text-color;
        font-size: 0.9rem;
        .user-picture {
          border-radius: 100%;
          height: 35px;
          vertical-align: middle;
          margin-right: 1rem;
        }
        .user-name {
          position: relative;
          display: inline-block;
          font-size: 1.2rem;
          margin-right: 2rem;
        }
        .posted-date {
          position: relative;
          display: inline-block;
          font-size: 1.1rem;
          margin-right: 1rem;
        }
      }
      .item-description {
        margin-top: 3rem;
        font-size: 1.2rem;
        color: $light-text-color;
      }
    }

  }
}
