@import "clarity";

.news-item-list-container {
  position: relative;
  margin: 2rem auto 8rem auto;
  max-width: 800px;
  min-width: 375px;
  .no-news-items {
    text-align: center;
    h1 {
      color: $light-text-color;
      font-weight: 400;
      margin-bottom: 3rem;
    }
    .new-post-button {
      @include button-style;
      padding: 1rem 1.7rem;
      font-size: 1.7rem;
      border-radius: 80px;
    }
  }
  .news-item-card {
    @include outer-container;
    padding: 1rem;
    margin: 0.5rem;
    background-color: whitesmoke;
    box-shadow: 0 3px 2px -2px darken(whitesmoke, 10%);

    .info {
      @include span-columns(8);
      position: relative;
      .title {
        @include transition(0.3s);
        position: relative;
        font-weight: 300;
        font-size: 1.7rem;
        &:hover {
          cursor: pointer;
          color: $secondary-brand-color;
        }
      }
      .description {
        font-size: 1.1rem;
        margin: 0;
      }
      .additional-info {
        margin-top: 1rem;
        color: $light-text-color;
        font-size: 0.9rem;
        .user-picture {
          @include cursor-pointer;
          border-radius: 100%;
          height: 35px;
          vertical-align: middle;
          margin-right: 1.5rem;
        }
        .posted-date {
          @include transition(0.3s);
          position: relative;
          display: inline-block;
          margin-right: 1rem;
        }
        .comment-count {
          position: relative;
          display: inline-block;
          &:hover {
            cursor: pointer;
            color: $secondary-brand-color;
          }
        }
      }
    }
  }
}
