@import "clarity";

.full-page-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: $modal-background-color;
  .exit-modal {
    @include transition(0.3s);
    position: absolute;
    top: 1rem;
    right: 2rem;
    height: 70px;
    &:hover {
      height: 77px;
      cursor: pointer;
    }
  }
}
